body {
  margin: 0;
  padding: 0;
  height: 100%
}

.shell {
  position: absolute;
  bottom:0;
  top:0;
  left:0;
  width: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

html, body, #root{
  height: 100%
}

.oscilloscope {
  border-radius: 30px;
}
