body, html {
  height: 100%;
}

.rich-editor p {
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.loader-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .loader {
  color: #3f51b5;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
} */
.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #3f51b5, 1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2), 2.5em 0em 0 0em rgba(63, 81, 181, 0.2), 1.75em 1.75em 0 0em rgba(63, 81, 181, 0.2), 0em 2.5em 0 0em rgba(63, 81, 181, 0.2), -1.8em 1.8em 0 0em rgba(63, 81, 181, 0.2), -2.6em 0em 0 0em rgba(63, 81, 181, 0.5), -1.8em -1.8em 0 0em rgba(63, 81, 181, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(63, 81, 181, 0.7), 1.8em -1.8em 0 0em #3f51b5, 2.5em 0em 0 0em rgba(63, 81, 181, 0.2), 1.75em 1.75em 0 0em rgba(63, 81, 181, 0.2), 0em 2.5em 0 0em rgba(63, 81, 181, 0.2), -1.8em 1.8em 0 0em rgba(63, 81, 181, 0.2), -2.6em 0em 0 0em rgba(63, 81, 181, 0.2), -1.8em -1.8em 0 0em rgba(63, 81, 181, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(63, 81, 181, 0.5), 1.8em -1.8em 0 0em rgba(63, 81, 181, 0.7), 2.5em 0em 0 0em #3f51b5, 1.75em 1.75em 0 0em rgba(63, 81, 181, 0.2), 0em 2.5em 0 0em rgba(63, 81, 181, 0.2), -1.8em 1.8em 0 0em rgba(63, 81, 181, 0.2), -2.6em 0em 0 0em rgba(63, 81, 181, 0.2), -1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(63, 81, 181, 0.2), 1.8em -1.8em 0 0em rgba(63, 81, 181, 0.5), 2.5em 0em 0 0em rgba(63, 81, 181, 0.7), 1.75em 1.75em 0 0em #3f51b5, 0em 2.5em 0 0em rgba(63, 81, 181, 0.2), -1.8em 1.8em 0 0em rgba(63, 81, 181, 0.2), -2.6em 0em 0 0em rgba(63, 81, 181, 0.2), -1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(63, 81, 181, 0.2), 1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2), 2.5em 0em 0 0em rgba(63, 81, 181, 0.5), 1.75em 1.75em 0 0em rgba(63, 81, 181, 0.7), 0em 2.5em 0 0em #3f51b5, -1.8em 1.8em 0 0em rgba(63, 81, 181, 0.2), -2.6em 0em 0 0em rgba(63, 81, 181, 0.2), -1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(63, 81, 181, 0.2), 1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2), 2.5em 0em 0 0em rgba(63, 81, 181, 0.2), 1.75em 1.75em 0 0em rgba(63, 81, 181, 0.5), 0em 2.5em 0 0em rgba(63, 81, 181, 0.7), -1.8em 1.8em 0 0em #3f51b5, -2.6em 0em 0 0em rgba(63, 81, 181, 0.2), -1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(63, 81, 181, 0.2), 1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2), 2.5em 0em 0 0em rgba(63, 81, 181, 0.2), 1.75em 1.75em 0 0em rgba(63, 81, 181, 0.2), 0em 2.5em 0 0em rgba(63, 81, 181, 0.5), -1.8em 1.8em 0 0em rgba(63, 81, 181, 0.7), -2.6em 0em 0 0em #3f51b5, -1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(63, 81, 181, 0.2), 1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2), 2.5em 0em 0 0em rgba(63, 81, 181, 0.2), 1.75em 1.75em 0 0em rgba(63, 81, 181, 0.2), 0em 2.5em 0 0em rgba(63, 81, 181, 0.2), -1.8em 1.8em 0 0em rgba(63, 81, 181, 0.5), -2.6em 0em 0 0em rgba(63, 81, 181, 0.7), -1.8em -1.8em 0 0em #3f51b5;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #3f51b5, 1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2), 2.5em 0em 0 0em rgba(63, 81, 181, 0.2), 1.75em 1.75em 0 0em rgba(63, 81, 181, 0.2), 0em 2.5em 0 0em rgba(63, 81, 181, 0.2), -1.8em 1.8em 0 0em rgba(63, 81, 181, 0.2), -2.6em 0em 0 0em rgba(63, 81, 181, 0.5), -1.8em -1.8em 0 0em rgba(63, 81, 181, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(63, 81, 181, 0.7), 1.8em -1.8em 0 0em #3f51b5, 2.5em 0em 0 0em rgba(63, 81, 181, 0.2), 1.75em 1.75em 0 0em rgba(63, 81, 181, 0.2), 0em 2.5em 0 0em rgba(63, 81, 181, 0.2), -1.8em 1.8em 0 0em rgba(63, 81, 181, 0.2), -2.6em 0em 0 0em rgba(63, 81, 181, 0.2), -1.8em -1.8em 0 0em rgba(63, 81, 181, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(63, 81, 181, 0.5), 1.8em -1.8em 0 0em rgba(63, 81, 181, 0.7), 2.5em 0em 0 0em #3f51b5, 1.75em 1.75em 0 0em rgba(63, 81, 181, 0.2), 0em 2.5em 0 0em rgba(63, 81, 181, 0.2), -1.8em 1.8em 0 0em rgba(63, 81, 181, 0.2), -2.6em 0em 0 0em rgba(63, 81, 181, 0.2), -1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(63, 81, 181, 0.2), 1.8em -1.8em 0 0em rgba(63, 81, 181, 0.5), 2.5em 0em 0 0em rgba(63, 81, 181, 0.7), 1.75em 1.75em 0 0em #3f51b5, 0em 2.5em 0 0em rgba(63, 81, 181, 0.2), -1.8em 1.8em 0 0em rgba(63, 81, 181, 0.2), -2.6em 0em 0 0em rgba(63, 81, 181, 0.2), -1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(63, 81, 181, 0.2), 1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2), 2.5em 0em 0 0em rgba(63, 81, 181, 0.5), 1.75em 1.75em 0 0em rgba(63, 81, 181, 0.7), 0em 2.5em 0 0em #3f51b5, -1.8em 1.8em 0 0em rgba(63, 81, 181, 0.2), -2.6em 0em 0 0em rgba(63, 81, 181, 0.2), -1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(63, 81, 181, 0.2), 1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2), 2.5em 0em 0 0em rgba(63, 81, 181, 0.2), 1.75em 1.75em 0 0em rgba(63, 81, 181, 0.5), 0em 2.5em 0 0em rgba(63, 81, 181, 0.7), -1.8em 1.8em 0 0em #3f51b5, -2.6em 0em 0 0em rgba(63, 81, 181, 0.2), -1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(63, 81, 181, 0.2), 1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2), 2.5em 0em 0 0em rgba(63, 81, 181, 0.2), 1.75em 1.75em 0 0em rgba(63, 81, 181, 0.2), 0em 2.5em 0 0em rgba(63, 81, 181, 0.5), -1.8em 1.8em 0 0em rgba(63, 81, 181, 0.7), -2.6em 0em 0 0em #3f51b5, -1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(63, 81, 181, 0.2), 1.8em -1.8em 0 0em rgba(63, 81, 181, 0.2), 2.5em 0em 0 0em rgba(63, 81, 181, 0.2), 1.75em 1.75em 0 0em rgba(63, 81, 181, 0.2), 0em 2.5em 0 0em rgba(63, 81, 181, 0.2), -1.8em 1.8em 0 0em rgba(63, 81, 181, 0.5), -2.6em 0em 0 0em rgba(63, 81, 181, 0.7), -1.8em -1.8em 0 0em #3f51b5;
  }
}
