.ql-snow .ql-editor .ql-code-block-container{
    background-color: #efefef;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    overflow: visible;
}
.ql-snow .ql-tooltip[data-mode=video]::before {
    content: "Video / Loom";
}
.ql-editor li > .ql-ui:before {
    margin-right: 0.5em;
}
.ql-code-block {
    background-color: #efefef; /* <== change this color */
    color: #1d1c1d;
}
._loading_overlay_wrapper {
    position: relative;
}
@media screen and (max-width: 925px) {
    ._loading_overlay_wrapper {
        margin-bottom: 70px;
    }
}
@media screen and (max-width: 600px) {
    ._loading_overlay_wrapper {
        margin-bottom: 0;
    }  
}
.ql-toolbar {
    /* <== using sticky here breaks the dropdowns */
    width: 100%;
}
@media screen and (max-width: 600px) {
    .ql-disabled .ql-editor{
        padding: 0
    }
}
.ql-editor {
    min-height: 6rem;
    max-height: 50vh;
}
.ql-editor div,
.ql-editor ol,
.ql-editor table,
.ql-editor p {
    cursor: inherit;
}
.ql-disabled .ql-editor {
    min-height: auto
}
.editor-wrapper {
    z-index: 7;
}
#editorbox {
    border-top: 1px solid #ccc;
    border-bottom: 0;
}
@media screen and (max-width: 600px) {
    #editorbox {
        border-bottom: 1px solid #ccc;
    }
}

.ql-editor pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}